@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-heart {
  background-image: url('../public/assets/heartBg.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}